body{
    background-image:url(./images/snow.jpg);
    background-size: cover;
    }
h2{
    font-size: 50px;
  color: black;
  text-align: center;
}
h1{
    font-size: 70px;
    color: black;
    text-align: center;
}
#increment-btn{
   background-color: darkred;

}
button{
    margin-left: 15%;
    font-size: 70px;
    padding: 1%;
    color: white;
    border-radius: 2%;
    padding-bottom: 10px; 
    width: 500px;
}
#save-btn{
    margin-top: 2%;
    background-color: darkgreen;
}
p{
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
}
.container{
    background: white;
    max-width: 30%;
    margin: auto;
}